.container {
  justify-content: center;
  text-align: center;
}
body {
  padding: 10px;
  font-size: 20pt;
  color: steelblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("http://wallpapers4screen.com/Uploads/23-1-2016/14259/thumb2-monster-white-background-creative.jpg");
}
button {
  color: steelblue;
  width: 80px;
  font-size: 14pt;
  border: steelblue;
}
input {
  color: steelblue;
}
